@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;531;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,500&display=swap');

// Font Family
$font-primary: 'Poppins', sans-serif;
$font-weight-primary: 'Poppins', sans-serif, 700;

// Font Weight
$font-black: 900;
$font-extra-bold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-weight: 531;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;
$font-extra-light: 200;
$font-thin: 100;

// =============================================
// Color pallette
// =============================================

$black: #000;
$white: #fff;

$color-primary: #fff200;
$color-primary-dark: #fff900;
$color-secundary: #0909ce;

$neutral-color-0: #b3b1b1;
$neutral-color-1: #a3a2a2;
$neutral-color-2: #b8b5b5;
$neutral-color-3: #b4b4b2;
$neutral-color-4: #858583;
$neutral-color-5: #959595;
$neutral-color-6: #555;
